In [23]:
import numpy as np
import pandas as pd

In [24]:
data = pd.read_csv("covid_19_country_wise_latest.csv")

In [25]:
data.head()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [26]:
replacing_index = data.rename(columns = {'Unnamed: 0': 'Index'},inplace = True)
data.head()

,Index,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [30]:
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace('/', '')
data.head()

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [33]:
data.columns

Index(['Index', 'Country_Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths___100_Cases',
       'Recovered___100_Cases', 'Deaths___100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

In [34]:
data.dtypes

Index                       int64
Country_Region             object
Confirmed                   int64
Deaths                     object
Recovered                   int64
Active                      int64
New_cases                 float64
New_deaths                float64
New_recovered               int64
Deaths___100_Cases        float64
Recovered___100_Cases     float64
Deaths___100_Recovered    float64
Confirmed_last_week         int64
1_week_change               int64
1_week_%_increase         float64
WHO_Region                 object
dtype: object

In [37]:
data.isnull().sum()

Index                      0
Country_Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths___100_Cases         0
Recovered___100_Cases      0
Deaths___100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
dtype: int64

In [41]:
data.fillna(data.mean)
data.head()

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [42]:
data.isnull().sum()

Index                     0
Country_Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New_cases                 0
New_deaths                0
New_recovered             0
Deaths___100_Cases        0
Recovered___100_Cases     0
Deaths___100_Recovered    0
Confirmed_last_week       0
1_week_change             0
1_week_%_increase         0
WHO_Region                0
dtype: int64

In [45]:
unique_countries_number = len(data['Country_Region'].unique())
unique_countries_number

187

In [47]:
duplicate_countries = data['Country_Region'].duplicated()
duplicate_countries

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: Country_Region, Length: 187, dtype: bool

In [51]:
data["Confirmed"].mean()

np.float64(88130.935828877)

In [50]:
data["Confirmed"].median()

np.float64(5059.0)

In [52]:
data["Confirmed"].std()

np.float64(383318.6638306154)

In [74]:
mean_of_deaths = data["Deaths"].mean
mean_of_deaths

<bound method Series.mean of 0      1269.0
1       144.0
2      1163.0
3        52.0
4        41.0
        ...
182      78.0
183       1.0
184     483.0
185     140.0
186       NaN
Name: Deaths, Length: 187, dtype: float64>

In [57]:
data["Deaths"].isnull().sum()

np.int64(0)

In [60]:
data["Deaths"].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
182     True
183     True
184     True
185     True
186    False
Name: Deaths, Length: 187, dtype: bool

In [63]:
data["Deaths"].dtype

dtype('O')

In [69]:
data["Deaths"] = pd.to_numeric(data["Deaths"],errors='coerce')
data["Deaths"].dtype

dtype('float64')

In [70]:
data['Deaths']

0      1269.0
1       144.0
2      1163.0
3        52.0
4        41.0
        ...
182      78.0
183       1.0
184     483.0
185     140.0
186       NaN
Name: Deaths, Length: 187, dtype: float64

In [78]:
data["Deaths"] = data["Deaths"].fillna(mean_of_deaths)
data["Deaths"]

0                                                 1269.0
1                                                  144.0
2                                                 1163.0
3                                                   52.0
4                                                   41.0
                             ...
182                                                 78.0
183                                                  1.0
184                                                483.0
185                                                140.0
186    <bound method Series.mean of 0      1269.0\n1 ...
Name: Deaths, Length: 187, dtype: object

In [85]:
print(data['Deaths'].dtype)

object

In [89]:
print(data['Deaths'].unique())

[1269.0 144.0 1163.0 52.0 41.0 3.0 3059.0 711.0 167.0 713.0 423.0 11.0
 141.0 2965.0 7.0 538.0 9822.0 2.0 35.0 0.0 2647.0 294.0 87618.0 347.0
 53.0 6.0 1.0 22.0 391.0 8944.0 59.0 75.0 9187.0 4656.0 8777.0 54.0 208.0
 115.0 96.0 139.0 87.0 19.0 373.0 613.0 58.0 1083.0 5532.0 4652.0 408.0
 51.0 69.0 34.0 228.0 329.0 30212.0 49.0 8.0 16.0 9125.0 168.0 202.0
 1761.0 45.0 26.0 20.0 158.0 1166.0 596.0 10.0 33408.0 4838.0 15912.0
 4458.0 1764.0 474.0 35112.0 998.0 585.0 285.0 185.0 438.0 1301.0 31.0
 12.0 72.0 64.0 80.0 112.0 91.0 99.0 124.0 15.0 9.0 156.0 44022.0 748.0
 4.0 316.0 48.0 6160.0 108.0 860.0 466.0 255.0 393.0 5842.0 1322.0 43.0
 18418.0 1945.0 1676.0 1719.0 165.0 2206.0 13334.0 5.0 42.0 14.0 2760.0
 194.0 543.0 66.0 27.0 28.0 116.0 93.0 7067.0 300.0 46.0 28432.0 720.0
 24.0 5700.0 1978.0 40.0 60.0 21.0 18.0 50.0 5630.0 148011.0 1636.0 345.0
 45844.0 121.0 146.0 78.0 483.0 140.0
 <bound method Series.mean of 0      1269.0
 1       144.0
 2      1163.0
 3        52.0
 4        41.0
         ...
 182      78.0
 183       1.0
 184     483.0
 185     140.0
 186       NaN
 Name: Deaths, Length: 187, dtype: float64>]

In [92]:
data['Deaths'] = pd.to_numeric(data['Deaths'],errors='coerce')
mean_of_death = data['Deaths'].mean()
data['Deaths'] = data['Deaths'].fillna(mean_of_death)
print(data['Deaths'])
data['Deaths'].dtype

0      1269.000000
1       144.000000
2      1163.000000
3        52.000000
4        41.000000
          ...
182      78.000000
183       1.000000
184     483.000000
185     140.000000
186    3516.129032
Name: Deaths, Length: 187, dtype: float64

dtype('float64')

In [93]:
data['Deaths'] = data['Deaths'].astype(int)
data['Deaths'].dtype

dtype('int64')

In [101]:
data.head()

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [128]:
data['New_cases'].mean

<bound method Series.mean of 0      106.0
1      117.0
2      616.0
3       10.0
4       18.0
       ...
182    152.0
183      0.0
184     10.0
185     71.0
186    192.0
Name: New_cases, Length: 187, dtype: object>

In [129]:
data['New_deaths'].mean

<bound method Series.mean of 0      10.0
1       6.0
2       8.0
3       0.0
4       1.0
       ...
182     2.0
183     0.0
184     4.0
185     1.0
186     2.0
Name: New_deaths, Length: 187, dtype: object>

In [130]:
total_num_of_deaths = data['Deaths'].sum()
total_num_of_deaths

np.int64(657516)

In [131]:
total_num_of_recovery = data['Recovered'].sum()
total_num_of_recovery

np.int64(9468087)

In [132]:
country_totalcases_1million = data[data['Confirmed'] > 1000000]
country_totalcases_1million

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,recovery_rate
23,23,Brazil,2442375,87618,1846641,508116,23284.0,614.0,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas,75.608414
79,79,India,1480073,33408,951166,495499,44457.0,637.0,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia,64.264803
173,173,US,4290259,148011,1325804,2816444,56336.0,1076.0,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas,30.902656

In [133]:
num_of_countries = country_totalcases_1million['Country_Region'].nunique()
num_of_countries

3

In [134]:
data['recovery_rate'] = (data['Recovered'] / data['Confirmed']) * 100
data['recovery_rate']

0      69.486805
1      56.250000
2      67.339935
3      88.533627
4      25.473684
         ...
182    35.326240
183    80.000000
184    49.260792
185    61.840949
186    20.044379
Name: recovery_rate, Length: 187, dtype: float64

In [136]:
country_with_95_recovery_rate = data[data['recovery_rate'] > 95]
country_with_95_recovery_rate

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,recovery_rate
24,24,Brunei,141,3,138,0,0.0,0.0,0,2.13,97.87,2.17,141,0,0.00,Western Pacific,97.872340
48,48,Djibouti,5059,58,4977,24,<bound method DataFrame.mean of Index ...,<bound method DataFrame.mean of Index ...,11,1.15,98.38,1.17,5020,39,0.78,Eastern Mediterranean,98.379126
49,49,Dominica,18,0,18,0,0.0,0.0,0,0.00,100.00,0.00,18,0,0.00,Americas,100.000000
69,69,Grenada,23,0,23,0,0.0,0.0,0,0.00,100.00,0.00,23,0,0.00,Americas,100.000000
75,75,Holy See,12,0,12,0,0.0,0.0,0,0.00,100.00,0.00,12,0,0.00,Europe,100.000000
78,78,Iceland,1854,10,1823,21,7.0,0.0,0,0.54,98.33,0.55,1839,15,0.82,Europe,98.327940
105,105,Malaysia,8904,124,8601,179,7.0,0.0,1,1.39,96.60,1.44,8800,104,1.18,Western Pacific,96.597035
110,110,Mauritius,344,10,332,2,0.0,0.0,0,2.91,96.51,3.01,343,1,0.29,Africa,96.511628
121,121,New Zealand,1557,22,1514,21,<bound method DataFrame.mean of Index ...,<bound method DataFrame.mean of Index ...,1,1.41,97.24,1.45,1555,2,0.13,Western Pacific,97.238279
126,126,Norway,9132,255,8752,125,15.0,0.0,0,2.79,95.84,2.91,9034,98,1.08,Europe,95.838809
136,136,Qatar,109597,165,106328,3104,292.0,0.0,304,0.15,97.02,0.16,107037,2560,2.39,Eastern Mediterranean,97.017254
164,164,Taiwan*,462,7,440,15,4.0,0.0,0,1.52,95.24,1.59,451,11,2.44,Western Pacific,95.238095

In [137]:
data.isnull().sum()

Index                     0
Country_Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New_cases                 0
New_deaths                0
New_recovered             0
Deaths___100_Cases        0
Recovered___100_Cases     0
Deaths___100_Recovered    0
Confirmed_last_week       0
1_week_change             0
1_week_%_increase         0
WHO_Region                0
recovery_rate             0
dtype: int64

In [138]:
data.columns

Index(['Index', 'Country_Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths___100_Cases',
       'Recovered___100_Cases', 'Deaths___100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region', 'recovery_rate'],
      dtype='object')

In [144]:
data[['Confirmed', 'Recovered', 'Active', 'New_cases', 'New_deaths', 'New_recovered', 
      'Deaths___100_Cases', 'Recovered___100_Cases', 'Deaths___100_Recovered', 
      'Confirmed_last_week', '1_week_change', '1_week_%_increase']] = data[
    ['Confirmed', 'Recovered', 'Active', 'New_cases', 'New_deaths', 'New_recovered', 
     'Deaths___100_Cases', 'Recovered___100_Cases', 'Deaths___100_Recovered', 
     'Confirmed_last_week', '1_week_change', '1_week_%_increase']
].apply(pd.to_numeric, errors='coerce')

data.head()

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,recovery_rate
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,69.486805
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe,56.250000
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa,67.339935
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe,88.533627
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa,25.473684

In [147]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   187 non-null    int64
 1   Country_Region          187 non-null    object
 2   Confirmed               187 non-null    int64
 3   Deaths                  187 non-null    int64
 4   Recovered               187 non-null    int64
 5   Active                  187 non-null    int64
 6   New_cases               177 non-null    float64
 7   New_deaths              177 non-null    float64
 8   New_recovered           187 non-null    int64
 9   Deaths___100_Cases      187 non-null    float64
 10  Recovered___100_Cases   187 non-null    float64
 11  Deaths___100_Recovered  187 non-null    float64
 12  Confirmed_last_week     187 non-null    int64
 13  1_week_change           187 non-null    int64
 14  1_week_%_increase       187 non-null    float64
 15  WHO_Region              187 non-null    object
 16  recovery_rate           187 non-null    float64
dtypes: float64(7), int64(8), object(2)
memory usage: 25.0+ KB

In [156]:
data.fillna(data.mean)
data

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,recovery_rate
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,69.486805
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe,56.250000
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa,67.339935
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe,88.533627
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa,25.473684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,35.326240
183,183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa,80.000000
184,184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,49.260792
185,185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa,61.840949
186,186,Zimbabwe,2704,3516,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa,20.044379

In [158]:
data.isnull().sum()

Index                      0
Country_Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths___100_Cases         0
Recovered___100_Cases      0
Deaths___100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
recovery_rate              0
dtype: int64

In [159]:
data.dropna(inplace=True)

In [160]:
data.isnull().sum()

Index                     0
Country_Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New_cases                 0
New_deaths                0
New_recovered             0
Deaths___100_Cases        0
Recovered___100_Cases     0
Deaths___100_Recovered    0
Confirmed_last_week       0
1_week_change             0
1_week_%_increase         0
WHO_Region                0
recovery_rate             0
dtype: int64

In [161]:
data.tail()

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,recovery_rate
182,182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,35.326240
183,183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa,80.000000
184,184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,49.260792
185,185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa,61.840949
186,186,Zimbabwe,2704,3516,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa,20.044379

In [163]:
data[["New_cases", "New_deaths"]]

     New_cases  New_deaths
0        106.0        10.0
1        117.0         6.0
2        616.0         8.0
3         10.0         0.0
4         18.0         1.0
..         ...         ...
182      152.0         2.0
183        0.0         0.0
184       10.0         4.0
185       71.0         1.0
186      192.0         2.0

[177 rows x 2 columns]

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177 entries, 0 to 186
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   177 non-null    int64
 1   Country_Region          177 non-null    object
 2   Confirmed               177 non-null    int64
 3   Deaths                  177 non-null    int64
 4   Recovered               177 non-null    int64
 5   Active                  177 non-null    int64
 6   New_cases               177 non-null    float64
 7   New_deaths              177 non-null    float64
 8   New_recovered           177 non-null    int64
 9   Deaths___100_Cases      177 non-null    float64
 10  Recovered___100_Cases   177 non-null    float64
 11  Deaths___100_Recovered  177 non-null    float64
 12  Confirmed_last_week     177 non-null    int64
 13  1_week_change           177 non-null    int64
 14  1_week_%_increase       177 non-null    float64
 15  WHO_Region              177 non-null    object
 16  recovery_rate           177 non-null    float64
dtypes: float64(7), int64(8), object(2)
memory usage: 24.9+ KB

In [165]:
country_with_95_recovery_rate

,Index,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,recovery_rate
24,24,Brunei,141,3,138,0,0.0,0.0,0,2.13,97.87,2.17,141,0,0.00,Western Pacific,97.872340
48,48,Djibouti,5059,58,4977,24,NaN,NaN,11,1.15,98.38,1.17,5020,39,0.78,Eastern Mediterranean,98.379126
49,49,Dominica,18,0,18,0,0.0,0.0,0,0.00,100.00,0.00,18,0,0.00,Americas,100.000000
69,69,Grenada,23,0,23,0,0.0,0.0,0,0.00,100.00,0.00,23,0,0.00,Americas,100.000000
75,75,Holy See,12,0,12,0,0.0,0.0,0,0.00,100.00,0.00,12,0,0.00,Europe,100.000000
78,78,Iceland,1854,10,1823,21,7.0,0.0,0,0.54,98.33,0.55,1839,15,0.82,Europe,98.327940
105,105,Malaysia,8904,124,8601,179,7.0,0.0,1,1.39,96.60,1.44,8800,104,1.18,Western Pacific,96.597035
110,110,Mauritius,344,10,332,2,0.0,0.0,0,2.91,96.51,3.01,343,1,0.29,Africa,96.511628
121,121,New Zealand,1557,22,1514,21,NaN,NaN,1,1.41,97.24,1.45,1555,2,0.13,Western Pacific,97.238279
126,126,Norway,9132,255,8752,125,15.0,0.0,0,2.79,95.84,2.91,9034,98,1.08,Europe,95.838809
136,136,Qatar,109597,165,106328,3104,292.0,0.0,304,0.15,97.02,0.16,107037,2560,2.39,Eastern Mediterranean,97.017254
164,164,Taiwan*,462,7,440,15,4.0,0.0,0,1.52,95.24,1.59,451,11,2.44,Western Pacific,95.238095

In [166]:
data.isnull().sum()

Index                     0
Country_Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New_cases                 0
New_deaths                0
New_recovered             0
Deaths___100_Cases        0
Recovered___100_Cases     0
Deaths___100_Recovered    0
Confirmed_last_week       0
1_week_change             0
1_week_%_increase         0
WHO_Region                0
recovery_rate             0
dtype: int64

Index                     0
Country_Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New_cases                 0
New_deaths                0
New_recovered             0
Deaths___100_Cases        0
Recovered___100_Cases     0
Deaths___100_Recovered    0
Confirmed_last_week       0
1_week_change             0
1_week_%_increase         0
WHO_Region                0
recovery_rate             0
dtype: int64